Main/book.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ENTITY % 实体名 "实体内容">
<!ENTITY % 联系 "联系方式">

<!ELEMENT 书架 (书+)>
<!ELEMENT 书 (书名,作者,售价)>
<!ELEMENT 书名 (#PCDATA)>
<!ATTLIST 书名 编号 ID #REQUIRED>
<!ELEMENT 作者 (#PCDATA)>
<!ATTLIST 作者
	姓名 CDATA #REQUIRED
	%联系; CDATA #REQUIRED
	国籍 CDATA #FIXED "中国"
	爱好 CDATA #IMPLIED>
<!ELEMENT 售价 (#PCDATA)>
<!ATTLIST 售价
	人民币 (50 | 100 | 150 | 200) "100">